.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 499.9932432432415px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 62px;
}

#u105
{
	z-index: 153;
	width: 920px;
	height: 40px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#pu579
{
	width: 0.01px;
	padding-bottom: 48px;
	margin-left: 83px;
	position: relative;
}

#u579
{
	z-index: 162;
	width: 58px;
	top: 8px;
	left: 50%;
	margin-left: -277px;
}

#u109
{
	z-index: 163;
	width: 58px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u106
{
	z-index: 164;
	width: 31px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u1708-4
{
	z-index: 158;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 293px;
}

#u104-4
{
	z-index: 174;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 207px;
}

#u103-4
{
	z-index: 170;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 122px;
}

#u93-4
{
	z-index: 154;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: -49px;
}

#u102-4
{
	z-index: 166;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 36px;
}

#pu1286
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 46px;
	position: relative;
}

#u1286
{
	z-index: 2;
	width: 669px;
	position: relative;
	margin-right: -10000px;
}

#u1286_clip
{
	overflow: hidden;
	width: 669px;
	height: 334px;
}

#u1286_img
{
	margin: -430px -87px -244px 1px;
}

#u112
{
	z-index: 21;
	width: 158px;
	-pie-box-shadow: 1px 1px 17px #D8D8D8;
	-moz-box-shadow: 1px 1px 17px rgba(127, 127, 127, 0.3);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(127, 127, 127, 0.3);
	box-shadow: 1px 1px 17px rgba(127, 127, 127, 0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 255px;
	transition:300ms;
}

#u112:hover
{
	-pie-box-shadow: 0px 0px 122px 31px #FFFFFF;
	-moz-box-shadow: 0px 0px 122px 31px rgba(255, 255, 255, 0.84);
	-webkit-box-shadow: 0px 0px 122px 31px rgba(255, 255, 255, 0.84);
	box-shadow: 0px 0px 122px 31px rgba(255, 255, 255, 0.84);
	margin: 87px -10000px 0px 0px;
}

#u113
{
	z-index: 22;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 39px;
}

#u113_img
{
	padding-bottom: 1px;
}

#about
{
	margin-left: 83px;
	margin-top: 28px;
	position: relative;
}

#u118
{
	z-index: 16;
	width: 920px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	margin-top: 18px;
}

#u118_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	position: relative;
	left: -100px;
	padding-top: 56px;
	padding-bottom: 16px;
}

#u116-4
{
	z-index: 17;
	width: 601px;
	min-height: 42px;
	text-align: center;
	color: #63CDF3;
	font-size: 29px;
	font-family: muli, sans-serif;
	font-weight: 300;
	left: 159px;
	position: relative;
}

#u117-10
{
	z-index: 24;
	width: 601px;
	min-height: 254px;
	text-align: justify;
	color: #000000;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: muli, sans-serif;
	font-weight: 300;
	left: 159px;
	margin-top: 15px;
	position: relative;
}

#u117,#u117-3
{
	color: #63CDF3;
}

#u117-6
{
	font-size: 10px;
}

#u117-5,#u117-8
{
	font-size: 12px;
}

#work
{
	left: 183px;
	margin-top: 23px;
	position: relative;
}

#u657-4
{
	z-index: 70;
	width: 669px;
	min-height: 66px;
	border-style: solid;
	border-color: #63CDF3;
	background-color: #FFFFFF;
	text-align: left;
	color: #63CDF3;
	font-size: 48px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 26px;
	margin-top: 19px;
	position: relative;
	border-width: 0px 0px 2px;
}

#pu1279-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 32px;
	position: relative;
}

#u1279-4
{
	z-index: 113;
	width: 648px;
	min-height: 37px;
	padding: 10px;
	color: #000000;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
}

#u1280-4
{
	z-index: 129;
	width: 648px;
	min-height: 76px;
	padding: 10px;
	text-align: justify;
	color: #000000;
	line-height: 1.5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u1320
{
	z-index: 145;
	width: 669px;
	position: relative;
	margin-right: -10000px;
}

#u1320_clip
{
	overflow: hidden;
	width: 669px;
	height: 213px;
}

#u1320_img
{
	margin-bottom: -205px;
}

#u1278
{
	z-index: 148;
	height: 442px;
	width: 733px;
	vertical-align: top;
	background: url("../images/u1278.png") no-repeat 24px 24px;
	margin-bottom: -32px;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
	left: -32px;
}

#u1278:hover
{
	background: url("../images/screen%20shot%202013-09-15%20at%2023335%20am-u1278-r.png") no-repeat 0px 0px;
}

#ppu1252-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 22px;
	position: relative;
}

#pu1252-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 227px;
}

#u1252-4
{
	z-index: 109;
	width: 193px;
	min-height: 37px;
	padding: 10px;
	color: #000000;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
}

#u1255-4
{
	z-index: 125;
	width: 193px;
	min-height: 76px;
	padding: 10px;
	text-align: justify;
	color: #000000;
	line-height: 1.5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u1292
{
	z-index: 139;
	width: 213px;
	background-color: #FAFAFA;
	position: relative;
	margin-right: -10000px;
}

#u1295
{
	z-index: 141;
	width: 212px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1248
{
	z-index: 151;
	height: 442px;
	width: 277px;
	vertical-align: top;
	background: url("../images/u1248.png") no-repeat 24px 24px;
	margin-bottom: -32px;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
	left: -31px;
}

#u1248:hover
{
	background: url("../images/experimentphoto7-u1248-r.png") no-repeat 0px 0px;
}

#u805
{
	z-index: 4;
	width: 213px;
	position: relative;
	margin-right: -10000px;
}

#u842
{
	z-index: 6;
	width: 213px;
	background-color: #FAFAFA;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u1292_img,#u842_img
{
	padding: 91px 19px 91px 20px;
}

#u798-4
{
	z-index: 101;
	width: 193px;
	min-height: 37px;
	padding: 10px;
	color: #000000;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
}

#u802-4
{
	z-index: 105;
	width: 193px;
	min-height: 37px;
	padding: 10px;
	color: #000000;
	font-size: 30px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 456px;
}

#u799-4
{
	z-index: 117;
	width: 193px;
	min-height: 76px;
	padding: 10px;
	text-align: justify;
	color: #000000;
	line-height: 1.5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u801-4
{
	z-index: 121;
	width: 193px;
	min-height: 76px;
	padding: 10px;
	text-align: left;
	color: #000000;
	line-height: 1.5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 456px;
}

#u585
{
	z-index: 134;
	height: 442px;
	width: 277px;
	vertical-align: top;
	background: url("../images/u585.png") no-repeat 24px 24px;
	margin-bottom: -32px;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
	left: -32px;
}

#u585:hover
{
	background: url("../images/firm-paul-03%20copy-u585-r.png") no-repeat 0px 0px;
}

#u1326
{
	z-index: 137;
	height: 442px;
	width: 277px;
	vertical-align: top;
	background: url("../images/u1326.png") no-repeat 24px 24px;
	margin-bottom: -32px;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
	left: 424px;
}

#u1326:hover
{
	background: url("../images/breezi_placeit-2-u1326-r.png") no-repeat 0px 0px;
}

#press
{
	margin-left: 83px;
	margin-top: 49px;
	position: relative;
}

#u656-4
{
	z-index: 11;
	width: 669px;
	min-height: 66px;
	border-style: solid;
	border-color: #63CDF3;
	background-color: #FFFFFF;
	text-align: left;
	color: #63CDF3;
	font-size: 48px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 26px;
	margin-top: 21px;
	position: relative;
	border-width: 0px 0px 2px;
}

#pu684
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 39px;
	position: relative;
}

#u684
{
	z-index: 80;
	width: 213px;
	position: relative;
	margin-right: -10000px;
}

#u667-3
{
	z-index: 81;
	width: 193px;
	min-height: 86px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	color: #AAAAAA;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u679
{
	z-index: 84;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 22px;
}

#u672-3
{
	z-index: 86;
	width: 193px;
	min-height: 86px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	color: #AAAAAA;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u692
{
	z-index: 95;
	width: 213px;
	position: relative;
	margin-right: -10000px;
	left: 228px;
}

#u678-3
{
	z-index: 96;
	width: 193px;
	min-height: 86px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	color: #AAAAAA;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u687
{
	z-index: 99;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 21px;
}

#u1315
{
	z-index: 143;
	width: 213px;
	background-color: #DB1E3C;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#u1315_clip
{
	overflow: hidden;
	width: 213px;
	height: 106px;
}

#u1315_img
{
	margin: 7px -14px 7px 51px;
}

#pu686
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 19px;
	position: relative;
}

#u686
{
	z-index: 74;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u671-3
{
	z-index: 75;
	width: 193px;
	min-height: 86px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	color: #AAAAAA;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u652
{
	z-index: 78;
	width: 213px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u652_img
{
	padding: 30px 28px 24px 26px;
}

#u1310
{
	z-index: 89;
	width: 213px;
	position: relative;
	margin-right: -10000px;
	left: 229px;
}

#u1311-3
{
	z-index: 90;
	width: 193px;
	min-height: 86px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	color: #AAAAAA;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1312
{
	z-index: 93;
	width: 213px;
	position: relative;
	margin-right: -10000px;
}

#u1312_img
{
	padding: 24px 44px 25px 42px;
}

#u674-3
{
	z-index: 8;
	width: 193px;
	min-height: 86px;
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: left;
	color: #AAAAAA;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 457px;
}

#contact
{
	margin-left: 83px;
	margin-top: 82px;
	position: relative;
}

#u450
{
	z-index: 15;
	width: 920px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	margin-top: 36px;
	background: #7F7F7F url("../images/65928_10151747732868868_1568389106_n.jpg") no-repeat center center;
	background-size: cover !important;
}

#u450_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	position: relative;
	left: -100px;
	padding-top: 42px;
	padding-bottom: 45px;
}

#u176-4
{
	z-index: 34;
	width: 500px;
	min-height: 112px;
	color: #FFFFFF;
	line-height: 1.04;
	font-size: 48px;
	font-family: muli, sans-serif;
	font-weight: 300;
	left: 396px;
	position: relative;
}

#u261
{
	z-index: 38;
	width: 515px;
	left: 396px;
	margin-top: 17px;
	position: relative;
}

#u178-5
{
	z-index: 39;
	width: 365px;
	min-height: 31px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u178-2
{
	font-size: 24px;
}

#u178-3
{
	font-size: 18px;
}

#u179-4
{
	z-index: 44;
	width: 515px;
	min-height: 20px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u433
{
	z-index: 48;
	width: 475px;
	left: 396px;
	margin-top: 17px;
	position: relative;
}

#u211
{
	z-index: 49;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u217
{
	z-index: 51;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 61px;
}

#u223
{
	z-index: 53;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 121px;
}

#u235
{
	z-index: 57;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 181px;
}

#u240
{
	z-index: 59;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u253
{
	z-index: 63;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 305px;
}

#u229
{
	z-index: 55;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 366px;
}

#u245
{
	z-index: 61;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 425px;
}

#u211_img,#u217_img,#u223_img,#u235_img,#u253_img,#u229_img,#u245_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

body
{
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

