.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 671px;
	min-height: 367.79788213627944px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 24px 62.20211786372056px 25px;
}

#u105
{
	z-index: 33;
	width: 920px;
	height: 40px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u579
{
	z-index: 42;
	width: 58px;
	top: 8px;
	left: 50%;
	margin-left: -277px;
}

#u109
{
	z-index: 43;
	width: 58px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u106
{
	z-index: 44;
	width: 31px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1708-4
{
	z-index: 38;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 293px;
}

#u104-4
{
	z-index: 54;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 207px;
}

#u103-4
{
	z-index: 50;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 122px;
}

#u93-4
{
	z-index: 34;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: -49px;
}

#u102-4
{
	z-index: 46;
	width: 62px;
	min-height: 33px;
	top: 18px;
	left: 50%;
	margin-left: 36px;
}

#u1905-4
{
	z-index: 4;
	width: 669px;
	min-height: 52px;
	text-align: center;
	color: #63CDF3;
	font-size: 28px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	position: relative;
}

#u1949
{
	z-index: 2;
	width: 669px;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u1924-10
{
	z-index: 8;
	width: 385px;
	min-height: 291px;
	text-align: justify;
	color: #000000;
	line-height: 1.5;
	font-size: 12px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 44px;
	margin-top: 30px;
	position: relative;
	padding: 10px 100px;
}

#u2167
{
	z-index: 31;
	width: 669px;
	margin-left: 1px;
	margin-top: 27px;
	position: relative;
}

#u1986
{
	z-index: 30;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u1960
{
	z-index: 18;
	width: 669px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u1954
{
	z-index: 19;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u1959
{
	z-index: 21;
	width: 357px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u1934
{
	z-index: 22;
	width: 357px;
	position: relative;
}

#u1934_img
{
	padding-right: 1px;
}

#u1939
{
	z-index: 24;
	width: 357px;
	margin-top: 9px;
	position: relative;
}

#u1944
{
	z-index: 26;
	width: 357px;
	margin-top: 8px;
	position: relative;
}

#u1954_img,#u1944_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1981
{
	z-index: 28;
	width: 669px;
	margin-left: 1px;
	margin-top: 7px;
	position: relative;
}

body
{
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

