#u105
{
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
}

#u579
{
	position: fixed;
}

#u109
{
	-pie-box-shadow: 1px 1px 17px #EEEEEE;
	-moz-box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	-webkit-box-shadow: 1px 1px 17px -1px rgba(221, 221, 221, 0.5);
	box-shadow: 1px 1px 17px rgba(221, 221, 221, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 62px;
	-webkit-border-radius: 62px;
	-khtml-border-radius: 62px;
	border-radius: 62px;
	position: relative;
}

#u106
{
	position: relative;
}

#u1708-4,#u104-4,#u103-4,#u93-4,#u102-4
{
	color: #63CDF3;
	font-size: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
}

